.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
__pycache__
.DS_Store
.idea
.idea/*.*
.vscode
.ipynb_checkpoints/
other
logs
log

# Data files #
*.pkl
*/*.pkl
*.msg
*.parquet
*.h5